*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

.container{
  max-width: 1160px;
  margin : 0 auto;
}

.services .title {
  text-align: center;
  margin:  2rem 0 ;
  font-weight: lighter;
  font-size: 32px;
}

.services .tabs {
  display: grid;
  grid-template-columns: repeat(6  ,1fr);
}
.services .tabs p {
  color : #191919;
  background-color: #f9fdfe;
  padding : 1.5rem 1rem ;
  text-align: center;
  cursor: pointer;
  border-radius: 5px ;
}

.services .tabs p:hover {
  background-color: #ae00ff;
}

.services .tabs .active { background-color :#19cfaa ; color : #fff; }


.services .box  {
  padding: 2rem 1rem ;
  display: flex;
  width: 100%;
  gap:  3rem;
  
}

.services .box .img-wrap {
  width: 20%;
}
.services .box p {
  width: 80%;
}
.services .box img {
  width: 100%;
}